// VARIABLES
$primary-dark-magenta: hsl(300, 43%, 22%);
$primary-soft-pink: hsl(333, 80%, 67%);

$neutral-dark-greyish-magenta: hsl(303, 10%, 53%);
$neutral-light-greyish-magenta: hsl(300, 24%, 96%);
$neutral-white: hsl(0, 0%, 100%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 62.5%;
}


