@import 'config';

.container {
    width: 100%;
    background-color: $neutral-white;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .intro {
        width: 100%;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;

        &__title {
            font-size: 1.7rem;
            color: $primary-dark-magenta;
            text-align: center;
            font-weight: 800;
            line-height: 1;
            padding: 0 2rem;
        }

        &__info {
            font-size: 0.85rem;
            color: $neutral-dark-greyish-magenta;
            font-weight: 700;
            text-align: center;
            padding-top: 1.2rem;
            line-height: 1.6;
            opacity: 0.8;
        }
    }

    .punctuation {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;

        .punct-item {
            width: 100%;
            background-color: $neutral-light-greyish-magenta;
            border-radius: 5px;
            padding: 0.8rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;

            .stars {
                display: flex;
                justify-content: center;
                padding-bottom: 1rem;

                img {
                    margin: 0 0.3rem;
                    width: 0.9rem;
                }
            }

            h3 {
                color: $primary-dark-magenta;
                text-align: center;
                font-size: 0.82rem;
                font-weight: 800;
            }
        }
    }

    .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 4rem;

        &__item {
            width: 100%;
            background-color: $primary-dark-magenta;
            border-radius: 5px;
            padding: 1.5rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;

            .card-info {
                display: flex;
                align-items: center;
                padding-bottom: 1rem;
                
                .person-img {
                    padding-right: 1.6rem;

                    img {
                        width: 2.5rem;
                        border-radius: 2.5rem;
                    }
                }

                .person-info {
                    display: flex;
                    flex-direction: column;

                    .name {
                        color: $neutral-white;
                        font-size: 0.82rem;
                        font-weight: 500;
                        padding-bottom: 0.2rem;
                    }

                    .status {
                        color: $primary-soft-pink;
                        font-size: 0.82rem;
                        font-weight: 300;
                        opacity: 0.8;
                    }
                }
            }

            .review {
                color: $neutral-light-greyish-magenta;
                font-size: 0.79rem;
                font-weight: 300;
                line-height: 2;
                padding-right: 1rem;
            }
        }
    }
}